* {
  box-sizing: border-box;
}

.container {
  max-width: 786px;
  margin: 0 auto;
  padding: 0 25px;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}


.header h2 {
  padding-right: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: .75rem;
  font-weight: 500;
}


.form {
  display: grid;
  grid-template: 40px 40px / 1fr lfr;
  gap: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  width: 100%;
  padding: 20px 0 20px 20px;
  font-size: 16px;
}

.form--button {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  width: 100%;
  padding: 20px 0;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.input--wrap {
  display: flex;
  gap: 17px;
  justify-content: space-between;
  padding-top: 50px;
}

.memeDisplay img {
  width: 100%;
  padding: 20px;
}


/* cardcss */

.card {
  background: #eee;
  width: 300px;
  margin: 30px auto;
  border-radius: 10px;
  padding: 30px;
}

.card--image {
  width: 100%;
}

.card--info {
  padding: 0;
}

.card--favorite {
  width: 50px;
}


.SignUp form {
  border: 3px solid #f1f1f1;
}

.SignUp .container input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



.SignUp button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.SignUp button:hover {
  opacity: 0.8;
}



.SignUp .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}


.SignUp .container {
  padding: 16px;
}

.SignUp span.psw {
  float: right;
  padding-top: 16px;
}

.meme{
  position: relative;
  top: 50px;
  width: 410px;
  margin: 0 auto;
}

.meme img{
  width: 100%;
}
.meme--text{
  position: absolute;
  color: #fff;  
  left: 0;
  right: 0;
  text-align:center  ;
  font-size: 50px;
}

.meme--text.top{
  top: 0;
}

.meme--text.bottom{
  bottom: 0px;
}

.mainMemeWrap{
  padding:0 50px;
}